<%= form_for(@app_detail) do |f| %>
  <% if @app_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_detail.errors.count, "error") %> prohibited this app_detail from being saved:</h2>

      <ul>
      <% @app_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :redirect_url %><br>
    <%= f.text_area :redirect_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
